<html>
    <head>
        <title>Details_order</title>
        {% include 'blocks/css_links.html' %}
    </head>
    <body>
        {% include 'blocks/header_block.html' %}
        <h1 class="text-center">Details_order</h1>

        <div class="container-fluid" style="height:100%;width:100%">
            <div class="row justify-content-center align-items-center" >
                <div class="col-1" style="width:60%">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID_ORDER</th>
                                <th scope="col">ID_PRODUCT</th>
                                <th scope="col">NAME</th>
                                <th scope="col">QUANTITY</th>
                                <th scope="col">PRICE</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for details_order in details_orders %}
                            <tr>
                                <th scope="row">{{ details_order[0] }}</th>
                                <td>{{ details_order[1] }}</td>
                                <td>{{ details_order[2] }}</td>
                                <td>{{ details_order[3] }}</td>
                                <td>{{ details_order[4] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% include 'blocks/js_links.html' %}
    </body>
</html>