<html>
    <head>
        <title>Orders</title>
        {% include 'blocks/css_links.html' %}
    </head>
    <body>
        {% include 'blocks/header_block.html' %}
        <h1 class="text-center">Orders</h1>

        <div class="container-fluid" style="height:100%;width:100%">
            <div class="row justify-content-center align-items-center" >
                <div class="col-1" style="width:60%">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID_ORDER</th>
                                <th scope="col">ID_CUSTOMER</th>
                                <th scope="col">TOTAL_PRICE</th>
                                <th scope="col">PAYING_METHOD</th>
                                <th scope="col">DELIVERY_ADDRESS</th>
                                <th scope="col">STATUS</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <th scope="row">{{ order[0] }}</th>
                                <td>{{ order[1] }}</td>
                                <td>{{ order[2] }}</td>
                                <td>{{ order[3] }}</td>
                                <td>{{ order[4] }}</td>
                                <td>{{ order[5] }}</td>
                                <td>{{ order[6] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-1" style="width:40%">
                    <form action="/delete_order" method="post">
                        <input type="text" name="id_comanda" id="id_comanda" placeholder="ID_ORDER" class="input_form">
                        <input type="submit" value="Delete Order" style="width:50%">
                    </form>
                </div>
                <div class="col-1" style="width:40%">
                    <form action="/details_order_btn" method="post">
                        <input type="text" name="id_comanda" id="id_comanda" placeholder="ID_ORDER" class="input_form">
                        <input type="submit" value="Details Order" style="width:50%">
                    </form>
                </div>
                <div class="col-1" style="width:40%">
                    <form action="/add_order" method="post">
                        <input type="text" name="id_client" id="id_client" placeholder="ID_CUSTOMER" class="input_form">
                        <input type="text" name="metoda_plata" id="metoda_plata" placeholder="PAYING_METHOD" class="input_form">
                        <input type="text" name="adresa_livrare" id="adresa_livrare" placeholder="DELIVERY_ADDRESS" class="input_form">
                        <input type="submit" value="Add Order" style="width:50%">
                    </form>
                </div>
                <div class="col-1" style="width:40%">
                    <form action="/modify_order" method="post">
                        <input type="text" name="id_comanda" id="id_comanda" placeholder="ID_ORDER" class="input_form">
                        <input type="text" name="metoda_plata" id="metoda_plata" placeholder="PAYING_METHOD" class="input_form">
                        <input type="text" name="adresa_livrare" id="adresa_livrare" placeholder="DELIVERY_ADDRESS" class="input_form">
                        <input type="text" name="status" id="status" placeholder="STATUS" class="input_form">
                        <input type="submit" value="Modify Order" style="width:50%">
                    </form>
                </div>
            </div>
        </div>
        {% include 'blocks/js_links.html' %}
    </body>
</html>